:root {
    --background: #0f141a;
    --foreground: #f6f6f6;
    --player1-color: 57, 108, 158;
    --player2-color: 179, 69, 29;

    --circle-diameter: 30px;
    --side-length: 40px;
    --line-thickness: 10px;
    --line-length: 30px;

    --grid-size: 10;

    --animation: 0.15s ease-in-out;
    --radius: 25px;

    --pad: 10px;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

#boards {
    display: flex;
    justify-content: space-around;
}

.player {
    padding: var(--pad);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div#player1 {
    background-color: rgba(var(--player1-color), 20%);
}

body div#player2 {
    background-color: rgba(var(--player2-color), 20%);
}

h2 {
    margin: 0px;
}

#player1 h2 {
    color: rgba(var(--player1-color), 100%);
}

#player2 h2 {
    color: rgba(var(--player2-color), 100%);
}

.clock {
    opacity: 0%;
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-size), calc(1.5 * var(--side-length)));
    grid-template-columns: repeat(var(--grid-size), calc(1.5 * var(--side-length)));
    place-items: center;
}

.square {
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
    transition: transform var(--animation);
}

.square div {
    position: absolute;
    border-radius: 50%;
    transition: width var(--animation), height var(--animation), background-color var(--animation), opacity var(--animation), transform var(--animation);
}

#player1 .unrevealed div {
    background-color: rgba(var(--player1-color), 30%);
}

#player1 .unrevealed.has-own-ship div {
    background-color: rgba(var(--player1-color), 100%) !important;
    width: calc(1.1 * var(--circle-diameter));
    height: calc(1.1 * var(--circle-diameter));
}

#player2 .unrevealed div {
    background-color: rgba(var(--player2-color), 30%);
}

.unrevealed div {
    opacity: 30%;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    transform: translate(-50%, -50%);
}

#player2 .unrevealed:hover div {
    opacity: 100%;
    width: calc(1.1 * var(--circle-diameter));
    height: calc(1.1 * var(--circle-diameter));
}

#player1 .square.hit div {
    background-color: rgba(var(--player1-color), 100%);
}

#player2 .square.hit div {
    background-color: rgba(var(--player2-color), 100%);
}

.hit div {
    border-radius: var(--radius);
}

#player2 .square.hit div:nth-child(1) {
    transform: translate(-50%, -50%);
    width: var(--line-thickness);
    height: var(--line-length);
}

#player2 .square.hit div:nth-child(2) {
    transform: translate(calc(-1 * var(--line-length) / 6 - 50%), calc(var(--line-length) / 2 - var(--line-thickness) / 2 - 50%));
    width: calc(2 / 3 * var(--line-length));
    height: var(--line-thickness)
}

.miss div {
    opacity: 0%;
    border-radius: var(--radius);
    transform: translate(-50%, -50%);
    width: var(--circle-diameter);
    height: var(--circle-diameter);
}

#player1 .square.hit div {
    border-radius: var(--radius);
    transform: translate(-50%, -50%);
}

#player1 .square.hit div:nth-child(1) {
    width: var(--line-thickness);
    height: var(--line-length);
}

#player1 .square.hit div:nth-child(2) {
    width: var(--line-length);
    height: var(--line-thickness);
}

#information {
    display: flex;
    justify-content: center;
}

#message-box {
    padding: var(--pad);
}

.victory {
    font-size: 1.5em;
    font-weight: bolder;
}

.player1-message {
    color: rgba(var(--player1-color), 100%);
}

.player2-message {
    color: rgba(var(--player2-color), 100%);
}
